<% if (user) { %>
    Logged in as: <%= user.username %>
    <form action="/logout" method="POST">
        <button type="submit" class="button">Logout</button>
    </form>
<% } else { %>
    <li><a href="/login.html">Login</a></li>
<% } %>