<% if (user) { %>
    Logged in as: <%= user.username %>
    <li><form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form></li>
<% } else { %>
    <li><a href="/login.html">Login</a></li>
<% } %>