<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta content="Alex's Blog Admin Dashboard" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">WebFont.load({  google: {    families: ["Inter:100,200,300,regular,500,600,700,800,900"]  }});</script>
    <link href="/images/small_logo.png" rel="shortcut icon">
    <link href="/images/logo_webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
    <div class="header">
        <div class="top-navigation-links" id="id_menu_show">
            <a href="/admin" aria-current="page" class="navigation-link mobile-nav current">Admin</a>
            <a href="/analytics" class="navigation-link mobile-nav">Analytics</a>
            <div class="close-menu-button"><img src="/images/close.svg" loading="lazy" alt="" class="menu-icon" onclick="closeMenu()"></div>
        </div>
        <a href="/admin" aria-current="page" class="logo-link-block inline-block current"><img src="/images/logo_vector.svg" loading="lazy" width="Auto" alt="" class="image-2"></a>
        <div class="open-menu-button"><img src="/images/menu.svg" loading="lazy" alt="" class="menu-icon" id="menu_button_id" onclick="openMenu()"></div>
    </div>
    <div class="content-section-one">
        <div class="container center-align">
            <%- include('./partials/login-status') %>
            <%- include('article-create') %>
            <%- include('article-list', { articles: articles }) %>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-link-container">
        </div>
    </div>
    <script src="/myscripts.js"></script>
</body>
</html>