<head>
    <meta charset="utf-8">
    <title>Author Login</title>
    <meta content="writing about things." name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="./styles.css" rel="stylesheet" type="text/css">
  
    <!-- TODO: get an error when attempting to use the webfont js below. myb need to mark it as EJS code? -->
    <!-- <script type="text/javascript">WebFont.load({  google: {    families: ["Inter:100,200,300,regular,500,600,700,800,900"]  }});</script> -->
    
    <link href="/images/small_logo.png" rel="shortcut icon">
    <link href="/images/logo_webclip.png" rel="apple-touch-icon">
  </head>
  <body class="body">
    <%- include('./partials/login-status') %>
    
    <%- include('article-create') %>

    <%- include('article-list', { articles: articles }) %>

</body>
