<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Alexander Borowski</title>
  <meta content="writing about things." name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
  <!-- Header content here -->
</header>

<main>
  <%- body %>
</main>

<footer>
  <!-- Footer content here -->
</footer>

<script src="myscripts.js"></script>

</body>
</html>